.top-margin {
	margin-top: 1em;
}

.right-margin {
	margin-right: 1.25em;
}

.vertical-center {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.absolute-right {
	right: 0;
}

.bg-green {
	background-color: #5cb85c;
	color: #FFFFFF;
}

.border-white {
	border: 1px solid #FFFFFF;
}