<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Eric M. Poole">
	<meta name="description" content="Todo list app built with AngularJS and Bootstrap">
	<meta name="viewport" content="width=device-width">

	<title>Todo</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
<body ng-app="todo">
	<header class="jumbotron text-center">
		<h1>Todo List</h1>
	</header>

	<section ng-controller="MainController">
		<div class="col-md-4 col-md-offset-2 col-sm-6">
			<form role="form">
				<div class="form-group">
					<div class="well well-small">
						
						<label for="add-task-name">Task Name:</label>
						<input type="text" class="form-control" id="add-task-name">
						
						<label for="add-task-desc" class="top-margin">Task Description:</label>
						<input type="text" class="form-control" id="add-task-desc">
						<div class="text-right top-margin">
							<button class="btn btn-primary" ng-click="addTask()">Add</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-4 col-sm-6">
			
			<ul class="list-group sortable-list">
				<li class="list-group-item" ng-repeat="task in tasks" id="{{task.id}}">
					<div class="checkbox">
						<label for="task-{{task.id}}" class="h4">
							<input type="checkbox" id="task-{{task.id}}" ng-click="completeTask(task)">{{task.name}}
						</label>
					</div>
					<p>{{task.desc}}</p>
					<div class="vertical-center absolute-right right-margin">
						<button class="btn btn-danger" ng-click="removeTask(task)">Remove</button>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<!--Scripts-->

	<!--Utility funcitons-->
	<script type="text/javascript" src="js/functions.js"></script>
	
	<!--Angular-->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/mainController.js"></script>

</body>
</html>